name: GitHub Actions Auto Health Report
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Run script on daily 9:30am
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run script
        run: |
          python report.py -m manual -u ${{secrets.STU_ID}} -p ${{secrets.STU_PASS}}
